<html>
  <body>
    <ion-content>

        <div class="layout">
          <!-- Start of Sign In -->
          <div class="main order-md-1">
            <div class="start">
              <div class="container">
                <div class="col-md-12">
                  <div class="content">
                    <h1>Sign in to Swipe</h1>
                    <div class="third-party">
                      <button ion-button class="btn item bg-blue">
                        <i class="material-icons">pages</i>
                      </button>
                      <button ion-button class="btn item bg-teal">
                        <i class="material-icons">party_mode</i>
                      </button>
                      <button ion-button class="btn item bg-purple">
                        <i class="material-icons">whatshot</i>
                      </button>
                    </div>
                    <p>or use your email account:</p>
                    <form>
                      <ion-item class="form-group">
                        <ion-input type="email" id="inputEmail" class="" placeholder="Email Address" required></ion-input>
                        <button ion-button class="btn icon"><i class="material-icons">mail_outline</i></button>
                      </ion-item>
                      <ion-item class="form-group">
                        <ion-input type="password" id="inputPassword" class="" placeholder="Password" required></ion-input>
                        <button ion-button class="btn icon"><i class="material-icons">lock_outline</i></button>
                      </ion-item>
                      <button ion-button color="default" type="submit" class="btn button" formaction="index-2.html">Sign In</button>
                      <ion-item class="callout">
                        <span>Don't have account? <a href="sign-up.html">Create Account</a></span>
                      </ion-item>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Sign In -->
          <!-- Start of Sidebar -->
          <div class="aside order-md-2">
            <div class="container">
              <div class="col-md-12">
                <div class="preference">
                  <h2>Hello, Friend!</h2>
                  <p>Enter your personal details and start your journey with Swipe today.</p>
                  <a href="sign-up.html" class="btn button">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Sidebar -->
        </div> <!-- Layout -->
    </ion-content>  
  </body>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/jquery-3.3.1.slim.min.js"></script>
  <script src="../../assets/js/swipe.min.js"></script>
</html>    