<body>
<ion-content class="start">
  <main>
    <!-- Start of Sign In -->
    <div class="main order-md-1">
      <div class="start">
        <div class="container">
          <ion-row>
              <ion-col col-12>
                <div class="content">
                  <!-- Card -->
                  <ion-card class="card">
                    <!-- Card-Header 
                    <ion-card-header>-->
                      <ion-title>
                        <h1>Sign in to Swipe</h1>
                      </ion-title>
                      <div class="third-party">
                        <ion-icon name="logo-twitter" class="item bg-blue"></ion-icon>
                        <ion-icon name="logo-facebook" class="item bg-teal">
                        </ion-icon>
                        <ion-icon name="logo-github" class="item bg-purple">
                        </ion-icon>
                      </div>
                      <p>or use your email account:</p>
                    <!--</ion-card-header>
                     /Card-Header -->
                    <!-- Card-Content 
                    <ion-card-content>-->
                      <!-- Form -->
                      <form>
                        <ion-item class="form-group">
                          <ion-label>
                            <ion-icon name="mail" class="icon"></ion-icon>
                          </ion-label>
                          <ion-input type="email" id="inputEmail" placeholder="Email Address" required></ion-input>
                        </ion-item>
                        <ion-item class="form-group">
                          <ion-label>
                            <ion-icon name="lock" class="icon"><i class="material-icons"></i></ion-icon>
                          </ion-label>
                          <ion-input type="password" id="inputPassword"  placeholder="Password" required></ion-input>
                        </ion-item>
                        <button ion-button round class="btn">Sign In</button>
                        <div class="callout">
                          <span>Don't have account? <a href="sign-up.html">Create Account</a></span>
                        </div>
                      </form>
                      <!-- /Form -->
                    <!--</ion-card-content>
                     /Card-Content -->
                  </ion-card> 
                  <!-- /Card -->
                </div>
              </ion-col>  
          </ion-row>  
        </div>
      </div>
    </div>      
  </main> 
</ion-content>
</body>